/*mobile*/

@media only screen and (max-width: 767px) {
.font-54 {
    font-size: 30px;
}
.gradient-bar {
    display: none;

}
.font-15 {
    font-size: 14px;
}
.font-18 {
    font-size: 14px;
}
.font-24 {
    font-size: 17px;
}
.font-40 {
    font-size: 27px;
}
.seen-section {
    min-height: 400px;

}
.map{
    height: 300px;

}
#customers-testimonials .item {

    margin-bottom: 30px;

}

.carousel-caption .font-60 {
    font-size: 22px;
}

.carousel-caption .font-48 {
    font-size: 18px;
}


.carousel-caption {

    right: 0;
    bottom: 5em !important;
    left: 0;
    padding-bottom: 0;

}
.carousel-caption {
    top: 45%;
}
 .navbar-toggler{
background-color: #fff;
    position: absolute;
    right: 0;
    top: -3em;
 }
.navbar-collapse {
    margin-top: -1em;
}
.navbar-nav {
background-color: #8e8e8e;
}


}

/*vertical*/

@media screen and (min-width: 768px) and (max-width: 991px) {
.map{
    height: 300px;

}
#customers-testimonials .item {

    margin-bottom: 40px;

}
.seen-section {
    min-height: 400px;
    margin-top: -5em;

}
.font-60 {
    font-size: 40px;
}

.font-48 {
    font-size: 27px;
}

 .navbar-toggler{
background-color: #fff;
    position: absolute;
    right: 0;
    top: -5em;
 }
.navbar-collapse {
    margin-top: -1em;
}
.navbar-nav {
background-color: #8e8e8e;
}







}

/*landscape*/

@media (min-width: 992px) and (max-width: 1199px) {
#customers-testimonials .item {

    margin-bottom: 50px;

}

.font-18 {
    font-size: 10px;
}
.font-48 {
    font-size: 30px;
}
.compny-details {

    margin-top: -5em;

}





}

/*large*/

@media (min-width: 1400px) {
.seen-section {
    min-height: 965px;
    margin-top: -8em;

}


}
